apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: myargo-application
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/narendrapb/argocdk8s.git
    targetRevision: HEAD
    path: dev
  destination:
    server: https://kubernetes.defult.svc
    namespace: my-app 
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true
